header {
    padding: 15px;
    margin-bottom: 10px;
    background-color: #dfdfdf;
    display: flex;
    justify-content: space-between;
}

header h1 {
    color: #5e5e5e;
}

nav {
    margin-left: 50px;
    padding: 5px;
}

.nav-align-right {
    margin-left: 100px;
}

#nav-username {
    color: #a8a8a8;
}

.nav-item {
    margin-left: 10px;
}
