* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #d6d6d6;
    color: #242424;
}

#page-container {
    margin: auto;
    margin-top: 20px;
    width: 80%;
    min-width: 400px;
    background-color: #ebebeb;
    border: 1px #bebebe solid;
}

.container {
    padding: 15px;
}

a {
    padding: 5px;
    color: #777777;
    text-decoration: none;
}

a:hover {
    animation: link-hover 0.2s forwards;
}

@keyframes link-hover {
    100% {
        color: #acacac;
    }
}

h2, h3, h4, h5, h6 {
    padding: 6px;
    border-bottom: 1px #d8d8d8 solid;
    margin-bottom: 15px;
}
